/*
Colors:
Blue - #A1C3D1
Purple - #B39BC8
White - #F0EBF4
Pink - #F172A1
Magenta - #E64398

 */

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

:root {
  --blue:#A1C3D1;
  --purple:#B39BC8;
  --white:#F0EBF4;
  --pink:#F172A1;
  --magenta:#E64398;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F0EBF4;
  background-image: url("https://loveislove-cdn.s3.amazonaws.com/background.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  height:100px;
}

.navbar-brand {
  position: absolute;
  left: 45%;
  width:100px;
  height: auto;
  text-align: center;
  padding: 20px 0px 20px 0px
}

.navbar-text {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.header-text  {
  font-family: 'Berkshire Swash', cursive;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: #E64398;
  font-size: 50px;
}

.header-subtext {

}

.footer {
  margin-top: 1rem;
  padding: 1rem;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #E64398;
  color: #F0EBF4;
}

.grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2.5%;
}
.grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
}

.react-player {
  position:absolute;
  top:0;
  left:0;
}

.poster {
  position: relative;
}

.poster-image {
  display: block;
  width: 100%;
  height: auto;
}

.poster-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.poster:hover .poster-overlay {
  opacity: 1;
}

.poster:hover {
  border: 2px solid var(--pink);
  box-shadow: 0 0 10px var(--pink);
}

.poster-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-size: 90%;
  width: 90%;
}
